body.bg-sesc{
  background-image: url('../imgs/bg-capa.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.menu{
  background: url('../imgs/menu.png') no-repeat;
  width: 872px;
  height: 100vh;
  float: right;
  padding-left: 230px;
  padding-top: 50px;
}
h2{
  color: #fff;
  width: 70%;
  font-size: 30px;
  text-shadow: 4px 4px 0px rgba(153, 106, 60, 1);
  margin-bottom: 40px;
}
h2 strong{
  display: block;
  padding-bottom: 15px;
  display: inline-block;
  font-size: 30px;
}
h2 .linha{
  height: 3px;
  background: #fff;
  width: 92%;
  box-shadow: 4px 5px 0px 0px rgba(153, 106, 60, 1);
  display: block;
}
ul{
  list-style: none;
  padding-left: 0;
}
ul li a{
  margin-bottom: 10px;
  background: #fff;
  color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 4px 4px 0px rgba(153, 106, 60, 1);
  text-decoration: none;
  width: 465px;
  display: block;
  padding: 10px 20px;
  font-weight: bold;
}
ul li a:hover{
  color: #fff;
  background: #38b188;
}
a i{
  color: #818181;
  font-size: 20px;
  margin-right: 15px;
}
a:hover i{color: #fff;}


.title-inical {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 38vw;
}

@media screen and (max-width: 1080px){
  .title-inical  {
    display: none;
  }
  h2{
    font-size:1.6em;
    width: 69%;
  }
  h2 strong{font-size: 1.3em;}
  .logo{
    background: url('../imgs/menu_mobile2.png') no-repeat;
    width: 100%;
    padding-top: 100px;
    height: 410px;
    background-position: bottom center;
  }
  .menu{
    background: none;
    padding: 0;
    width: 100%;
    float: none;
  }
  ul{
    width: 465px;
    margin: 50px auto;
  }
}
@media screen and (max-width: 480px){
  body.bg-sesc{
    background-image: url('../imgs/bg-capa-mobile.png');
    background-size: unset !important;
  }
  h2{
    font-size:1.3em;
    padding-top: 35px;
  }
  .menu{height: auto;}
  .logo{
    padding-left: 30px;
    padding-right: 20px;
    height: 290px;
    padding-top: 30px;
    background-size: cover;
  }
  ul{
    width: 100%;
    padding: 0 30px;
    padding-bottom: 50px;
  }
  ul li a{width: 100%;}
}