@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
body{
  background: url('../imgs/bg-left.png') no-repeat left center, url('../imgs/bg-right.png') no-repeat right center;
}
p{word-wrap: break-word;}
.caixa{
  border-color: #00828b;
  margin: 20px auto;
}
.painel-gaitinha .accordion-button{
  background-color: #00828b;
  color: #fff;
  border: none;
  padding: 25px 0px;
}
.painel-gaitinha .accordion-item {
  margin-bottom: 15px;
}
.tt-despesas{
  color: #00828b;
  background: url('../imgs/dinheiro.png') no-repeat left center, url('../imgs/dinheiro.png') no-repeat right center;
  width: 66%;
  margin: 20px auto;
  padding: 18px;
  text-align: center;
}
.box1, .box2{
  border-radius: 10px;
  background: #f1f1f1;
  width: 430px;
  overflow: hidden;
}
.box1 h5, .box2 h5{
  color: #fff;
  font-size: 16px;
  padding: 20px 30px;
  text-align: center;
}
.box1 h5{
  background-color: #00828b;
}
.box2 h5{
  background-color: #ff9700;
}
.box1 h5 span{
  background-image: url('../imgs/ico-despesas-fixas.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box2 h5 span{
  background-image: url('../imgs/ico-despesas-variaveis.png');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box1 ul, .box2 ul{
  list-style: none;
  line-height: 30px;
}
.box1 ul i, .box2 ul i{
  color:#ff9700;
  margin-right: 5px;
}

/*menu*/
.dropdown-menu{
  background: #707070;
  border-radius: 0;
  padding: 20px 35px;
  box-shadow: 4px 4px 0px rgba(187, 187, 187, 0.8);
  left: -1px !important;
  top: -2px !important;
}
.dropdown-menu a{
  border-bottom: 1px solid #fff;
  padding: 0;
  padding-bottom: 10px;
  margin-bottom: 12px;
  color: #fff;
}
.dropdown-menu a:hover{
  color: #fff;
  background: none;
  text-decoration: underline;
}
.dropdown-menu ul a i{
  display: none;
}
.dropdown-menu ul a.ativo i{
  display: inline;
  margin-left: -15px;
}
.dropdown-menu li:last-child a{border: none;}
.bt-close{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background: none;
  border: none;
}
.dropdown-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.accordion-button i{
  font-size: 20px;
  margin: 0 10px;
}
.dropdown-toggle::after{display: none;}
.bg-light{
  background: #e2e2e2;
  border-bottom: 2px solid #a8a8a8;
  border-top: 2px solid #bdbdbd;
}
.navbar-collapse{
  background: none;
}
.nav-link i{
  font-size: 25px;
  color: #848383;
  margin-right: 10px;
}
.navbar{
  padding: 0;
}
.navbar-light .navbar-nav .nav-link{
  padding: 5px 0;
}
/*fim do menu*/
.bt-telainicial{
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 2px 0px 1px #d6d6d6; 
  box-shadow: 0px 2px 0px 1px #d6d6d6;
}
footer{display: none;}
.tirinha{margin-bottom: 20px;}
.tt-principal{
  text-transform: uppercase;
  color: #004f53;
  border-bottom: 3px solid #ff9700;
  padding-bottom: 10px;
  font-size: 22px;
  display: inline-block;
}
.fixar {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: unset;
  z-index: 9;
}
.tt-modelo{
  background: url('../imgs/tt-modelo.png') no-repeat left center;
  padding-left: 110px;
  color:#00828b;
  height: 85px;
  line-height: 85px;
}
.gif{
  margin: 20px auto;
  display: block;
  border: 2px solid #00828b;
  padding: 10px 20px;
}
.box{
  width: 325px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.tt-governo{color:#00828b;}
.popover-header{
  margin-top: 0;
}
.pop-over{
  font-weight: bold;
  color:#00828b;
  cursor: pointer;
}
.pop-over:hover{
  text-decoration: underline;
}
.pagina .img-fluid{margin: 20px 0;}
.instrucao{
  width: 70%;
  text-align: center;
  font-weight: bold;
  color:#00828b;
}
.esquemaDaBru .enunciado{
  font-weight: unset;
  color: unset;
}
.esquemaDaBru .alt-c, .esquemaDaBru .alt-e{
  color: #fff;
  font-weight: initial;
  background-color: #00828b;
  border: none;
  padding: 0 15px;
}
.esquemaDaBru .alt-c span, .esquemaDaBru .alt-e span{
  background: #ff9700;
  margin-left: -15px;
  width: 35px;
  text-align: center;
  margin-right: 10px;
  display: inherit;
  padding: 5px 0;
}
.esquemaDaBru .selected.certo{
  background-color: #ff9700;
  color: #fff;
  background-image: url('../imgs/certo.png');
  background-size: 20px;
}

.esquemaDaBru .selected.errado, .esquemaDaBru .selected.errado span{
  background-color: #ff6961;
  color: #fff;
}
.esquemaDaBru .selected.errado{
  background-image: url('../imgs/errado.png');
  background-size: 15px;
}

.link-tooltip{
  color: #ff9700;
  text-decoration: none;
}

.bt-modal{
  width: 162px;
  height: 54px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bt-compostos{
  background: url('../imgs/bt_1.png') no-repeat;
}
.bt-rotativo{
  background: url('../imgs/bt_2.png') no-repeat;
}

.modal-dialog{max-width: 50%;}
@media screen and (max-width: 1080px){
  .modal-dialog{max-width: 80%;}
}
@media screen and (max-width: 580px){
  .modal-dialog {max-width: 95%;}
  .dropdown, .dropend, .dropstart, .dropup{
    position: unset;
  }
  .dropdown-menu.show{
    position: unset;
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .bt-close{
    text-transform: uppercase;
    bottom: 100px;
    height: 40px;
    width: 340px;
    box-shadow: 4px 4px 0px rgb(187 187 187 / 80%);
    background: #fff;
    border-radius: 5px;
    color: #6e6e6e;
    top: unset;
    left: 40px;
  }
}

.paginacao-sesc-eja {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn-paginacao-sesc-eja {
  display: inline-block;
  width: 141px;
  height: 63px;
  cursor: pointer;
  transition: 0ms;

}

.btn-paginacao-sesc-eja.prox {
  background-image: url(../../../../assets/img/bt-proximo.png);
}


.btn-paginacao-sesc-eja.volt {
  background-image: url(../../../../assets/img/bt-voltar.png);
}

.btn-paginacao-sesc-eja:hover {
background-position: right;
}

